* { box-sizing: border-box }

.toolbar {
  position: absolute;
  display: flex;
  background-color: peru;
  width: 100vw;
  height: 2vh;
  padding: 20px 15px;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
}

button {
  font-size: 1em;
}

label {
  cursor: pointer;
  user-select: none;
}

.section {
  display: flex;
}