footer {
  position: absolute;
  width: 100vw;
  bottom: 10px;
  text-align: center;
  color: #6b6b6b;
  font-size: 0.8em;
  z-index: 10;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}