.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  accent-color: peru;
}

.label {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.label:hover {
  color: peru;
}

.description { 
  font-size: 0.5em;
}