* { box-sizing: border-box }

.toolbar {
  position: absolute;
  display: flex;
  background-color: peru;
  width: 100vw;
  max-height: 50px;
  padding: 8px 8px;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
}

label {
  cursor: pointer;
  user-select: none;
}

button {
  font-size: 1em;
}

.section {
  display: flex;
  height: 100%;
}

.section:nth-of-type(1) {
  justify-content: flex-start;
  width: 35vw;
  gap: 5px;
}

.section:nth-of-type(1) button:hover {
  color: peru;
}

.section:nth-of-type(2) {
  justify-content: center;
  width: 30vw;
  padding: 0 8px;
}

.section:nth-of-type(3) {
  justify-content: flex-end;
  align-items: center;
  width: 35vw;
  gap: 5px;
}

.section:nth-of-type(3) button {
  height: 100%;
}