.dropdown {
  border-radius: 10px 10px 0 0;
}

.dropdown:hover {
  background-color: gray;

}

.dropdown-options {
  position: absolute;
  background-color: gray;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 15px 10px;
  gap: 10px;
  border-radius: 0 10px 10px 10px;
}



.dropdown:hover .dropdown-options { display: flex;  }