.panel {
  position: absolute;
  background-color: peru;
  z-index: 10;
  padding: 20px 20px 20px 40px;
  border-radius: 20px;
  transition: transform 0.3s ease-out;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-close {
  height: 25px;
  width: 25px;
}

.panel-content {
  padding-top: 15px;
}

.panel-toggle {
  position: absolute;
  left: 5px;
  top: 10%;
  height: 80%;
  color: black;
}

.panel-toggle:hover {
  color: black;
}

.panel-closed {
  transform: translate(91%);
}

.panel-open {
  transform: translate(0%);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}